{% extends 'base.html' %}

{% block content %}
    <h1>Blog Posts</h1>
    {% for post in all_blogposts_list %}
        <div class="post-entry">
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a> </h2>
        <p>{{ post.body }}</p>
        </div>
    {% endfor %}
{% endblock content %}
